
body{height:850px;background-image:url('business-card-background-image.jpg')}
p{margin:2px;font-size:16px}
.contact{font-color:black;}
a{text-decoration: none;}
.business-card{width:430px;height:80%;background-color:#f2f2f2;padding:20px;margin-top:none;border:black solid 15px;text-align:center; font-size:16px;margin-left:auto;margin-right:auto}
.resume-card{width:600px;height:80%;background-color:#f2f2f2;padding:20px;margin-top:none;border:black solid 15px;text-align:center; font-size:16px;margin-left:auto;margin-right:auto}
.profile-image{max-width:100%;border:black solid 5px;}
.full-name{font-size:24px;font-style:bold;margin-bottom: 4px;margin-top:7px;}
.divider{color:#000000}
.designation{font-size:18px;font-style:none;}
.company{font-size:16px}
.button{font-family: 'Times New Roman', Times, serif;margin:10px;background-color:rgb(157, 157, 157)}
.business-card-link{color: black; text-decoration: underline;}
footer{
        background-color:black;
        font-size: 6px;
        color: rgb(174, 174, 174);
        position:fixed;
         width:100%;
        bottom:0;
        height: 25px}
